body{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50% );
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.output,tr{
   
    text-align: center;
    display: block;
    margin: auto;

}


/* #output{
    margin: auto;
} */